.cardapio-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.cardapio-scroll {
    width: 80%;
    height: 80vh;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.cardapio-scroll img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.cardapio-scroll:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
